#demo
{
    height: 80px;
}
.hoempagebar
{
   height: 150px; 
}
#homebutton
{
    
}
#disbutton
{
    
   background-color:deepskyblue'; 
}
#moreicon
{
   width:50%;
}
#sateliteimg
{  
     width: 500px;
   float: left;
}
.grid-container
{
   display: grid;
   grid-template-columns: auto auto;
   grid-gap: 10px;
      align-items: center;
      justify-content: center;
}
.item1
{
   margin-left: 40%;
   height:;
}
.satalitepara
{
   font-size: 20px;
      padding-left: 20px;
   
}
#displaymorebutton
{
   margin-left: 40%;
   width:150px;
   height: 40px;
}
#rooftopimage
{
   width: 450px;
}
.text-block
{
   position: absolute;
      margin-top: 1px;
       width: 200px;
      background-color: black;
      color: white;
      padding-left: 20px;
      padding-right: 20px;
}
.rooftopdishdiv
{
   position: relative;
}
