#headimg
{
    width: 50px;
    margin-left: 300px;
}
#doctornurse
{
    width: 500px;

}
.maindiv
{
    background-image: url("C:/interntnr/imges/raoimage,jpg");

        background-repeat: no-repeat;
}
